---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/1powechri2/Grit-Hub/commits/b2e705773e1072948cfd47aa165874f75116348f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1535122878'
      Etag:
      - W/"598802a242059d39dc14a030a133e440"
      Last-Modified:
      - Wed, 22 Aug 2018 21:33:59 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"b2e705773e1072948cfd47aa165874f75116348f","node_id":"MDY6Q29tbWl0MTQ1NDg2ODEwOmIyZTcwNTc3M2UxMDcyOTQ4Y2ZkNDdhYTE2NTg3NGY3NTExNjM0OGY=","commit":{"author":{"name":"Chris
        Powell","email":"chris.ian.powell@gmail.com","date":"2018-08-22T21:33:59Z"},"committer":{"name":"Chris
        Powell","email":"chris.ian.powell@gmail.com","date":"2018-08-22T21:33:59Z"},"message":"adds
        refactors for activity presenter and repo presenter","tree":{"sha":"2b3d7b4526e53f5631cc884a08695bf0ce779d15","url":"https://api.github.com/repos/1powechri2/Grit-Hub/git/trees/2b3d7b4526e53f5631cc884a08695bf0ce779d15"},"url":"https://api.github.com/repos/1powechri2/Grit-Hub/git/commits/b2e705773e1072948cfd47aa165874f75116348f","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/1powechri2/Grit-Hub/commits/b2e705773e1072948cfd47aa165874f75116348f","html_url":"https://github.com/1powechri2/Grit-Hub/commit/b2e705773e1072948cfd47aa165874f75116348f","comments_url":"https://api.github.com/repos/1powechri2/Grit-Hub/commits/b2e705773e1072948cfd47aa165874f75116348f/comments","author":{"login":"1powechri2","id":34900620,"node_id":"MDQ6VXNlcjM0OTAwNjIw","avatar_url":"https://avatars1.githubusercontent.com/u/34900620?v=4","gravatar_id":"","url":"https://api.github.com/users/1powechri2","html_url":"https://github.com/1powechri2","followers_url":"https://api.github.com/users/1powechri2/followers","following_url":"https://api.github.com/users/1powechri2/following{/other_user}","gists_url":"https://api.github.com/users/1powechri2/gists{/gist_id}","starred_url":"https://api.github.com/users/1powechri2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1powechri2/subscriptions","organizations_url":"https://api.github.com/users/1powechri2/orgs","repos_url":"https://api.github.com/users/1powechri2/repos","events_url":"https://api.github.com/users/1powechri2/events{/privacy}","received_events_url":"https://api.github.com/users/1powechri2/received_events","type":"User","site_admin":false},"committer":{"login":"1powechri2","id":34900620,"node_id":"MDQ6VXNlcjM0OTAwNjIw","avatar_url":"https://avatars1.githubusercontent.com/u/34900620?v=4","gravatar_id":"","url":"https://api.github.com/users/1powechri2","html_url":"https://github.com/1powechri2","followers_url":"https://api.github.com/users/1powechri2/followers","following_url":"https://api.github.com/users/1powechri2/following{/other_user}","gists_url":"https://api.github.com/users/1powechri2/gists{/gist_id}","starred_url":"https://api.github.com/users/1powechri2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1powechri2/subscriptions","organizations_url":"https://api.github.com/users/1powechri2/orgs","repos_url":"https://api.github.com/users/1powechri2/repos","events_url":"https://api.github.com/users/1powechri2/events{/privacy}","received_events_url":"https://api.github.com/users/1powechri2/received_events","type":"User","site_admin":false},"parents":[{"sha":"a7913647ae64b75042305824d58632435902ad8f","url":"https://api.github.com/repos/1powechri2/Grit-Hub/commits/a7913647ae64b75042305824d58632435902ad8f","html_url":"https://github.com/1powechri2/Grit-Hub/commit/a7913647ae64b75042305824d58632435902ad8f"}],"stats":{"total":87,"additions":60,"deletions":27},"files":[{"sha":"ac610b218b5f4cd5038e1643c6e974e216976860","filename":"app/controllers/activities_controller.rb","status":"modified","additions":1,"deletions":2,"changes":3,"blob_url":"https://github.com/1powechri2/Grit-Hub/blob/b2e705773e1072948cfd47aa165874f75116348f/app/controllers/activities_controller.rb","raw_url":"https://github.com/1powechri2/Grit-Hub/raw/b2e705773e1072948cfd47aa165874f75116348f/app/controllers/activities_controller.rb","contents_url":"https://api.github.com/repos/1powechri2/Grit-Hub/contents/app/controllers/activities_controller.rb?ref=b2e705773e1072948cfd47aa165874f75116348f","patch":"@@
        -1,6 +1,5 @@\n class ActivitiesController < ApplicationController\n   def
        index\n-    repositories = RepoPresenter.most_recent_repositories(current_user.token)\n-    @recent_activities
        = ActivityPresenter.recent_activities(current_user.name, current_user.token,
        repositories)\n+    @recent_activities = ActivityPresenter.new(current_user.name,
        current_user.token).recent_activities\n   end\n end"},{"sha":"d6cfe188c9d453a87c558089d82afadb2082fb71","filenam[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/1powechri2/Rails-Engine/commits/aac560497672b6463c1439fd17fa402681d086cd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1535122878'
      Etag:[...]
[...]
